<!doctype html>
<html lang="fa" dir="rtl">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> تماس با ما</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/news2.png"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="contactInfo"> 
                    <div>
                        <h2>اطلاعات تماس</h2>
                        <ul class="info">
                            <li>
                                <span><img src="/images/location.png"></span>
                                <span>زنجان<br>
                                    <!-- Athens, Gr<br>
                                    11472</span> -->
                                </span>
                            </li>
                            <li>
                                <span><img src="/images/mail.png"></span>
                                <!-- <span>nassosanagn@gmail.com</span> -->
                                <span><a href = "mailto: ghasemi.ferdosi@gmail.com">ghasemi.ferdosi@gmail.com</a></span>
                            </li>
                            <li>
                                <span><img src="/images/call.png"></span>
                                <span>09920628450
                                </span>
                            </li>

                        </ul>
                    </div>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/nassosanagn/"><img src="/images/1.png"></a></li>
                        <li><a href="https://www.instagram.com/nassosanagn_/?hl=el"><img src="/images/3.png"></a></li>
                        <li><a href="https://twitter.com/nassosanagn"><img src="/images/2.png"></a></li>
                        <li><a href="https://www.linkedin.com/in/nassos-anagnostopoulos-2b9631196/"><img src="/images/5.png"></a></li>
                        
                    </ul>
                </div>
                    <div class="contactForm">
                        <h2>پیام خود را  ارسال کنید</h2>
                        <div class="formBox">
                        <div class="inputBox w50">
                            <input type="text" name="" required>
                            <span>نام</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span>نام خانوادگی</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="email" required>
                            <span>آدرس ایمیل</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" required>
                            <span>شماره ی تماس</span>
                        </div>
                        <div class="inputBox w100">
                            <textarea required></textarea>
                            <span>پیام حود را در این قسمت بنویسید</span>
                        </div>
                        <div class="inputBox w100">
                            <input type="submit" value="ارسال">
                        </div>
                    </div>
                </div>
                    
                    
             
        </section>
    </body>
</html>